:global(.modal) .lightbox-dialog {
	display: flex !important;

	& :global(dialog.modal-content) {
		width: auto;
	}
}

.lightbox-content {
	& > img {
		display: block;
		max-width: 90vw;
	}
}

.single-image-lightbox {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;

	& header {
		width: calc(100% + 2rem);
		margin-left: -1rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;

		& .close {
			font-size: 1.75rem;
			color: white;
			cursor: pointer;
		}
	}

	& section {
		min-width: 200px;
		min-height: 200px;
	}
}
