@import '~@nti/style-common';

.action-header {
	display: flex;
	flex-direction: row;
	height: 50px;
	line-height: 50px;
	font-weight: 300;
	text-align: center;
	background-color: white;
	border-bottom: solid 1px #ddd;
	padding: 0 1rem;

	.action-title {
		text-overflow: ellipsis;
		white-space: nowrap;
		color: var(--primary-grey);
		font-size: 1.125rem;
		font-weight: bold;
		font-family: var(--header-font-family);
		border: none;
		flex-grow: 1;
		text-align: center;
		overflow: hidden;
		padding: 0 0.5rem;
	}

	.action-save {
		color: var(--primary-blue);
	}
}
