@import '~@nti/style-common';

.panel-header-component {
	@include clearfix;

	background: var(--panel-background);
	position: relative;
	user-select: none;
	cursor: default;
	border-bottom: 1px solid var(--border-grey-light);

	i.icon-light-x,
	i.icon-remove {
		cursor: pointer;
		position: absolute;
		top: rem-calc(15px);
		right: rem-calc(15px);
		font-size: 1.5rem;
		color: var(--tertiary-grey);
		min-width: 20px;
		min-height: 20px;
	}

	.balancer {
		&::after,
		&::before {
			content: '\200B';
		}
	}

	.title-row {
		display: flex;
		line-height: 1.4;
		margin: rem-calc(15px 6px);

		// min-height: rem-calc(22px);
		& > * {
			flex: 1 1 0;
		}
	}
}
