@import "~@nti/style-common";

.aligned-flyout {
	&.right {
		.flyout-arrow {
			right: rem-calc(16px);
		}
	}

	&.left {
		.flyout-arrow {
			left: rem-calc(16px);
		}
	}

	&.top {
		.flyout-arrow {
			bottom: 0;
			transform: rotate(180deg);
		}
	}

	&.bottom {
		.flyout-arrow {
			top: 0;
		}
	}

	&.center {
		.flyout-arrow {
			left: 50%;
			margin-left: -7px;
		}
	}

	.flyout-arrow {
		position: absolute;
		clip: rect(-15px, 25px, 0px, -10px);
		display: block;
		padding: 0;
		margin: 0;

		&::after {
			content: '';
			box-shadow: 0 0 4px 0 rgba(0,0,0,0.21);
			width: 15px;
			height: 15px;
			background: white;
			transform: translateY(-50%) rotate(45deg);
			display: block;
		}
	}

	.flyout-fullwidth-btn {
		margin: rem-calc(0 (-5px));
		display: block;
		height: 2rem;
		border-radius: 0.25rem;
		color: white;
		text-align: center;
		vertical-align: middle;
		line-height: 2rem;
		font-weight: 100;
		font-size: 0.875rem;
		font-family: $body-font-family;
		cursor: pointer;
		background-color: #d1d1d1;

		&.changed {
			background-color: $primary-blue;
		}

		&.error {
			animation-name: error-flyout-fullwidth-btn;
			animation-duration: 1s;
			animation-fill-mode: both;
			color: white;
			background-color: $primary-red;
		}
	}

	&:focus,
	&:focus-within {
		.flyout-arrow::after {
			box-shadow: 0 0 4px 0 $primary-blue;
		}

		.flyout-inner {
			box-shadow: 0 0 4px 0 $primary-blue;
		}
	}

	.flyout-inner {
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.21);
		background: white;
		overflow: auto;
	}

	&.dark {
		.flyout-arrow::after {
			background: var(--primary-grey);
		}

		.flyout-inner {
			background: var(--primary-grey);
		}
	}
}

//when there is a control bar open, add some margin so you can scroll to the full flyout
body.control-bar-open .aligned-flyout.bottom {
	&:after {
		content: '';
		display: block;
		height: 60px;
	}
}

@keyframes error-flyout-fullwidth-btn {
	from, to {
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		transform: translate3d(-5px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		transform: translate3d(5px, 0, 0);
	}
}
