@import "~@nti/style-common";
.content-resource-view-layout.table .column-head {
	color: $tertiary-grey;
	text-transform: uppercase;

	&.sorted {
		color: var(--secondary-grey);

		.arrow {
			display: inline-block;
			overflow: hidden;
			padding: 0 .4em;
			margin: 0;

			&::after {
				content: '';
				width: 5px;
				height: 5px;
				background: var(--secondary-grey);
				transform: translateY(-50%) rotate(45deg);
				display: block;
			}
		}

		&.asc .arrow {
			transform: translateY(-50%) rotate(180deg);
		}
	}
}
