@import '~@nti/style-common';

.content-resource-view-layout.table .row-folder-asset {
	.icon-column {
		color: var(--secondary-grey-alt);
	}

	.filename {
		color: var(--primary-grey);
	}

	.filename span:hover {
		text-decoration: underline;
	}
}
