@use "sass:math";

@import '~@nti/style-common';

%name-column {
	display: flex;
	align-items: center;

	.icon-column {
		flex: 0 0 auto;
		display: inline-block;
		width: rem-calc(20px);
		margin-right: rem-calc(14px);
	}

	.filename {
		flex: 1 1 0;
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.content-resource-view-layout.table {
	cursor: default;
	background: #fff;
	transition: background-color 0.3s ease;
	margin: 0 -1.25rem;
	min-height: 100%;

	table {
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;
	}

	th,
	td {
		padding-right: rem-calc(5px);

		&:first-child {
			padding-left: 1.25rem;
		}

		&:last-child {
			padding-right: 1.25rem;
		}
	}

	thead {
		transition: background-color 0.3s ease, border-bottom-color 0.3s;
		background-color: var(--panel-background);
		border-bottom: 1px solid var(--border-grey-light);
		font-size: rem-calc(10px);
		font-weight: bold;
		text-align: left;
		line-height: 2.2;

		.entity-drag-over & {
			border-bottom-color: transparent;
		}
	}

	.entity-row {
		cursor: pointer;
		line-height: math.div(40, 13);
		font-size: rem-calc(13px);
		white-space: nowrap;
		color: var(--secondary-grey);

		&.unselectable {
			pointer-events: none;
			cursor: default;
			opacity: 0.6;
		}

		.entity-row-item {
			@extend %name-column;

			&.renaming {
				position: relative;

				.filename span {
					// visibility: hidden; opacity: 0;
					display: none;
				}

				input {
					color: var(--secondary-grey);
					line-height: 1.2;
					position: absolute;
					height: auto;
					width: calc(100% - 55px);
					top: 49%;
					left: 30px;
					right: 0;
					transform: translateY(-50%);
					text-decoration: none !important;
					border: 1px solid var(--primary-blue);
					padding: rem-calc(3px);

					&::selection {
						background: rgba(var(--primary-blue-rgb), 0.15);
					}
				}
			}
		}

		&:focus,
		&:hover,
		&.selected {
			outline: none;
			background-color: #efefef;
		}

		&.entity-drag-over,
		&.selected,
		&:hover.selected {
			background: var(--primary-blue);

			&,
			.filename {
				color: #fff;
			}
		}
	}

	.entity-drag-over & {
		.entity-row:not(.entity-drag-over) {
			&:focus,
			&:hover,
			&.selected,
			&:hover.selected {
				background: none;

				&,
				.filename {
					color: var(--secondary-grey);
				}
			}
		}
	}

	// .column-name

	.column-date {
		width: 25%;
	}

	.column-type {
		width: 25%;
	}
}

body > .entity-row-item.ghost {
	max-width: 40vw;

	@extend %name-column;
}
