.toast-root {
	position: relative;
}

.toast-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.toast-region {
	list-style: none;
	padding: 0;
	margin: 0;
}

.toast-wrapper {
	pointer-events: all;
}

.toast-region.top {
	& .toast-wrapper {
		margin: 0.5rem;
	}
}

.toast-region.top-right {
	position: absolute;
	top: 0;
	bottom: auto;
	left: auto;
	right: 0;
	padding: 1rem;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;

	& .toast-wrapper {
		margin: 0.5rem;
		width: auto;
		max-width: 360px;
	}
}

@media only screen and (max-width: 420px) {
	.toast-region.top-right {
		width: auto;

		.toast-wrapper {
			max-width: 100vw;
		}
	}
}

.toast-wrapper:global(.top-transition-enter) [data-toast-id],
.toast-wrapper:global(.top-transition-appear) [data-toast-id] {
	transform: translateY(-10px);
	opacity: 0;
}

.toast-wrapper:global(.top-transition-enter-active) [data-toast-id],
.toast-wrapper:global(.top-transition-appear-active) [data-toast-id] {
	transform: translateY(0);
	opacity: 1;
	transition: transform 0.1s, opacity 0.2s;
}

.toast-wrapper:global(.top-transition-exit) [data-toast-id] {
	max-height: var(--known-height, 100px);
	transform: translateY(0);
	opacity: 1;
}

.toast-wrapper:global(.top-transition-exit-active) [data-toast-id] {
	max-height: 0;
	transform: translateY(-10px);
	opacity: 0;
	transition: transform 0.1s, opacity 0.2s, max-height 0.2s;
}
