@import "~@nti/style-common";

.nti-date-input {
	display: inline-block;

	&.precision-2 {
		.month-input {
			.select-label .nti-text-input {
				border-radius: 2px 0 0 2px;
				border-right-width: 0;
			}
		}

		.year-input {
			border-radius: 0 2px 2px 0;
		}
	}
}
