@import '~@nti/style-common';

.nti-date-input {
	display: inline-block;

	&.precision-2 {
		.month-input {
			.select-label .nti-text-input {
				border-radius: 2px 0 0 2px;
			}
		}

		.year-input {
			border-radius: 0 2px 2px 0;
			border-left-width: 0;
		}

		&.error:not(.focused) {
			.month-input {
				.select-label .nti-text-input {
					border-left-color: var(--primary-red);
					border-top-color: var(--primary-red);
					border-bottom-color: var(--primary-red);
				}
			}

			.year-input {
				border-color: var(--primary-red);
			}
		}
	}
}
