@import '~@nti/style-common';

.nti-file-input {
	display: inline-block;
	position: relative;

	.file-select-filename:not(.empty) {
		margin-left: 5px;
		font-size: 12px;

		.no-file {
			color: var(--secondary-grey-alt);
			font-style: italic;
		}
	}

	.file-select-reset {
		color: var(--secondary-grey-alt);
		margin-left: 10px;
		cursor: pointer;
	}
}
