.nti-label-placeholder {
	position: relative;
	display: block;
}

.label-placeholder {
	position: absolute;
}

/*Clear the base input styles, since we need to define them on the container*/
.nti-label-placeholder :global(input:not([type=checkbox])) {
	border-radius: 0;
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	padding: 0;
}

.nti-label-placeholder .error-message {
	display: block;
}

/* Start Underlined Styles */
.nti-label-placeholder.underlined {
	font: normal 400 1rem/1.375 var(--body-font-family);
}


.nti-label-placeholder.underlined .error-message {
	margin-top: 0.125rem;
	padding: 0 0.625rem;
	font-size: 0.75rem;
}

.nti-label-placeholder.underlined :global(input:not([type=checkbox])) {
	width: 100%;
	height: 57px;
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.4);
	padding: 1.5625rem 0.625rem 0.625rem;
}

.nti-label-placeholder.underlined .label-placeholder {
	top: 1rem;
	left: 0.625rem;
	font-size: 1rem;
	color: var(--tertiary-grey);
	transition: top 0.2s, font-size 0.2s;
	pointer-events: none;
}

/*If there's an error make sure the input has a red box-shadow*/
.nti-label-placeholder.underlined.error :global(input:not([type=checkbox])),
.nti-label-placeholder.underlined.error :global(input:focus:not([type=checkbox])) {
	box-shadow: inset 0 -1px 0 0 var(--primary-red);
}

/*On focus make sure the input has a green box-shadow */
.nti-label-placeholder.underlined :global(input:focus:not([type=checkbox])) {
	box-shadow: inset 0 -1px 0 0 var(--secondary-green);
}

/*Change the placeholders color when the input is focused */
.nti-label-placeholder.underlined input:focus + .label-placeholder {
	color: var(--secondary-green);
}

/*If the input has text make the placeholder text darker*/
.nti-label-placeholder.underlined input:not(:placeholder-shown):not(:focus) + .label-placeholder {
	color: var(--secondary-grey);
}

/*If there's an error make the placeholder text red*/
.nti-label-placeholder.underlined.error input:focus + .label-placeholder,
.nti-label-placeholder.underlined.error input:not(:placeholder-shown):not(:focus) + .label-placeholder {
	color: var(--primary-red);
}

/*If the input is focused or has text move the placeholder up*/
.nti-label-placeholder.underlined input:focus + .label-placeholder,
.nti-label-placeholder.underlined input:not(:placeholder-shown) + .label-placeholder {
	top: 5px;
	font-size: 0.875rem;
}

.nti-label-placeholder.underlined input:-webkit-autofill + .label-placeholder {
	top: 5px;
	font-size: 0.875rem;
}

/*End Underlined Styles*/
