@import '~@nti/style-common';

.nti-labeled-input {
	.label {
		display: block;
		font: normal bold 0.625rem/1rem var(--body-font-family);
		text-transform: uppercase;
		color: var(--secondary-grey);

		// Override foundation.css' rules for `.label` (only on mobile)
		background: initial;
		padding: initial;
		white-space: initial;
		text-align: initial;
	}
}
