.nti-percentage-input {
	position: relative;

	&.disabled {
		opacity: 0.5;
	}

	input {
		background-color: white;
		width: calc(100% - 33px);
	}

	.symbol {
		background-color: var(--panel-background-alt);
		color: var(--tertiary-grey);
		position: absolute;
		top: 0;
		right: 0;
		width: 34px;
		height: 34px;
		border: solid 1px #ddd;
		line-height: 34px;
		text-align: center;
		font-size: 14px;
	}
}
