@import "~nti-style-common";

// Sync Size
.textarea-container {
	position: relative;
	-webkit-box-shadow: 0 0 0 0.0625rem #eaeaea;
	box-shadow: 0 0 0 0.0625rem #eaeaea;
	background-color: $panel-background;
	border: solid 1px $border-grey-light;
	border-radius: 2px;

	// Shared placeholder css 
	.placeholder {
		font-style: italic;
		color: $tertiary-grey;
		font-weight: 300;
	}

	// Shared css styles between the sizer and textarea.
	.textarea-text {
		line-height: 2.375rem;
		color: $secondary-grey;
		font: normal 400 0.875rem/2rem $body-font-family;
		padding: rem-calc(0 10px);
		min-height: 8em;
	}

	.textarea {
		box-shadow: none;
		background: none;
		resize: none;
		border: none;
		width: 100%;

		&::placeholder {
			@extend .placeholder
		}

		&.textarea-text {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			height: 100%; // firefox
			overflow: hidden;
		}

		// Styles for default textarea
		&.default-text {
			line-height: 2.375rem;
			color: $secondary-grey;
			font: normal 400 0.875rem/2rem $body-font-family;
			padding: rem-calc(0 10px);
			min-height: 8em;
		}
	}

	.sizer {		
		white-space: pre-wrap;
		visibility: hidden;

		&::placeholder {
			@extend .placeholder
		}
	}
}
