@import "~@nti/style-common";

.nti-select-input-option {
	padding: rem-calc(1px 8px);
	cursor: pointer;
	color: $secondary-grey;
	font: normal 400 0.875rem/2rem $body-font-family;

	&.display .content {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&:not(.display):not(.selected):not(.removable):hover, &.focused {
		background-color: $border-grey-light;
	}

	&.selected {
		color: white;
		background-color: $primary-blue;
	}

	&.checkable {
		padding-left: 0;
	}

	&.removable {
		cursor: default;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0;
	}

	.content {
		pointer-events: none; // NTI-7628
	}

	&.removable,
	&.checkable {
		display: flex;
		align-items: center;

		.check {
			flex: 0 0 32px;
			text-align: center;
			color: var(--primary-blue);
		}

		.content {
			flex: 1 1 auto;
		}

		.remove {
			flex: 0 0 auto;
			cursor: pointer;
			padding: rem-calc(1px 8px 1px 4px);

			i {
				color: white;
				background: var(--tertiary-grey);
				border-radius: 1rem;
				padding: 0;
			}
		}
	}
}
