@import "~@nti/style-common";

.nti-select-input-option {
	padding: rem-calc(1px 8px);
	cursor: pointer;
	color: $secondary-grey;
	font: normal 400 0.875rem/2rem $body-font-family;


	&.display {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&:not(.display):not(.selected):not(.removable):hover, &.focused {
		background-color: $border-grey-light;
	}

	&.selected,
	&.removable {
		color: white;
		background-color: $primary-blue;
	}

	&.removable {
		display: flex;
		align-items: center;

		.content {
			flex: 1 1 auto;
		}

		.remove {
			flex: 0 0 auto;
		}
	}
}
