@import "~nti-style-common";

.nti-select-input-option {
	padding: 0.5rem;
	cursor: pointer;

	&:not(.display):hover, &.focused {
		background-color: $panel-background;
	}

	&.selected {
		background-color: $border-grey-light;
	}
}
