.toast-card {
	position: relative;
	background: rgba(255, 255, 255, 0.95);
	border-top: 4px solid white;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
	
	&.info {
		border-top-color: #78caf9;
	}

	& .header {
		padding: 0;
		text-align: right;
		position: absolute;
		top: 0; bottom: auto;
		left: 0; right: 0;
		width: 100%;

		& i {
			display: inline-block;
			padding: 0.625rem 0.625rem 0;
			cursor: pointer;
			color: var(--tertiary-grey);
		}
	
		& + .contents {
			padding: 1.25rem 0.625rem 0.625rem;
		}
	}

	& .contents {
		padding: 0.625rem;
	}

}