.toast-message-bar {
	border-radius: 3px;
	background-color: var(--panel-background);
	box-shadow: 0 0 0 1px var(--border-grey-light);
	padding: 0.25rem 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.toast-message-bar.error {
	background-color: var(--primary-red);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);

	.icon-container {
		color: white;
	}

	.message-container {
		color: white;
	}

	.close-icon {
		color: white;
	}
}

.icon-container {
	flex: 0 0 auto;
	align-self: center;
	margin-right: 0.25rem;
	color: var(--secondary-grey);
}

.message-container {
	flex: 1 1 auto;
	font-size: 0.875rem;
	color: var(--secondary-grey);
}

.title {
	font-weight: 600;
	margin-right: 0.5rem;
}

.message {
	font-weight: 400;
}

.close-icon {
	flex: 0 0 auto;
	color: var(--secondary-grey);
}
