.nti-token-input {
	display: inline-block;
	border-radius: 2px;
	background-color: var(--panel-background);
	box-shadow: 0 0 0 1px var(--border-grey-light);
	padding: 9px 15px 4px 10px;
	width: 350px;
}

.nti-token-input.light {
	background-color: white;

	--token-background: var(--panel-background);
}


.token-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.token-list > li {
	padding: 0;
	display: inline-block;
	flex: 0 0 auto;
	margin: 0 0 5px 5px;
}

.token-list > li:last-of-type {
	display: inline-block;
	flex: 1 1 auto;
}

.nti-token-text-input {
	border-radius: 0;
	background: none;
	border: none;
	width: 100%;
	padding: 0 5px;
	height: 2rem;
}

.nti-token-text-input.error {
	text-decoration: underline;
	text-decoration-color: var(--primary-red);
}
