@import "~nti-style-common";

.DayPicker-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	padding: 1rem 0 0;
	margin: 0 auto;
	user-select: none;
	// width: 268px;
	border: none;
	font-family: $body-font-family;
	position: relative;

	&:focus {
		outline: none;
	}
}

.DayPicker-Months {
	width: 100%;
}

.DayPicker-Month {
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	user-select: none;
	margin: 0 auto;
	width: 100%;

	&:focus {
		outline: none;
	}
}
.DayPicker-NavBar {
	position: absolute;
	left: 0;
	right: 0;
	padding: 0 0.5rem;
}
.DayPicker-NavButton {
	position: absolute;
	width: rem-calc(24px);
	height: rem-calc(24px);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
.DayPicker-NavButton--prev {
	left: rem-calc(6px);
	opacity: 0.3;
	background-image: url(./assets/day-picker/date-chevron-left.png);
	.no-touch &:hover {opacity: 1;}
}
.DayPicker-NavButton--next {
	right: rem-calc(6px);
	opacity: 0.3;
	background-image: url(./assets/day-picker/date-chevron-right.png);
	.no-touch &:hover {opacity: 1;}
}
.DayPicker-Caption {
	display: table-caption;
	height: rem-calc(24px);
	text-align: center;
	color: $primary-grey;
	font-weight: 100;
}
.DayPicker-Weekdays {
	display: table-header-group;
}
.DayPicker-WeekdaysRow {
	display: table-row;
}
.DayPicker-Weekday {
	display: table-cell;
	padding: rem-calc(20px 0 15px);
	text-align: center;
	font-size: 12px;
	color: $tertiary-grey;

	abbr[title] {
		text-decoration: none;
	}
}
.DayPicker-Body {
	display: table-row-group;
}
.DayPicker-Week {
	display: table-row;
}
.DayPicker-Day {
	display: table-cell;
	padding: 0.5rem 0;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	font-size: 12px;
	line-height: 14px;
	color: $primary-grey;
	font-family: $body-font-family;

	&:focus {
		outline: none;
	}

	.no-touch &:hover:not(.DayPicker-Day--outside):not(.DayPicker-Day--disabled):not(.DayPicker-Day--today):not(.DayPicker-Day--selected) {
		@extend %selected-treatment;
	}
}
.DayPicker--interactionDisabled .DayPicker-Day {
	cursor: default;
}

/* Default modifiers */
.DayPicker-Day--today:not(.DayPicker-Day--outside):not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected) {
	color: $primary-blue;
}
.DayPicker-Day--disabled {
	// opacity: 0.5;
	cursor: default;
	color: $tertiary-grey;
}

.DayPicker-Day--outside {
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled) {
	@extend %selected-treatment;
	color: #ffffff;
	&::before {
		background-color: $primary-blue !important;
	}
}

%selected-treatment {
	position: relative;
	z-index: 1;

	&::before {
		content: "";
		background-color: #f0f0f0;
		border-radius: 100%;
		position: absolute;
		width: 1.8rem;
		height: 1.8rem;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

	}
}
