@import "~nti-style-common";

.daytime-picker {

	.DayPicker .DayPicker-Caption {
		font-size: 1rem;
	}

	.TimePicker-Header-Text {
		font-family: $body-font-family;
		font-size: rem-calc(10px);
		margin: rem-calc(10px);
		line-height: 1.6;
		color: $tertiary-grey;
		text-align: center;
	}

}
