.daytime-toggle-trigger {
	display: flex;

	.calendar {
		cursor: pointer;
		width: 31px;
		height: 31px;
		text-transform: uppercase;
		border-radius: 4px;
		margin-right: 1rem;
		box-shadow: 0 0 0 1px #afafaf, inset 0 0 0 1px #afafaf;
		text-align: center;
		padding: 0;

		.month {
			background: #afafaf;
			color: white;
			border-radius: 0;
			font: normal 700 10px/14px var(--body-font-family);
			padding: 1px 2px;
		}

		.day {
			color: #afafaf;
			font: normal 600 12px/15px var(--body-font-family);
			border-radius: 0;
		}

		&.empty {
			.month {
				height: 12px;
			}

			.day {
				position: relative;

				&::after {
					content: '';
					overflow: hidden;
					top: 2px;
					left: 4px;
					right: auto;
					background-image: url('../assets/empty-calendar.png');
					width: 23px;
					height: 13px;
					position: absolute;
				}
			}
		}
	}

	.main {
		display: block;
		color: var(--tertiary-grey);

		.text {
			display: inline-block;
			border: 1px solid var(--tertiary-grey-alt);
			padding: 0 0.625rem;
			cursor: pointer;
			font: italic 500 12px/32px var(--body-font-family);
			position: relative;

			.clear {
				display: block;
				float: right;
				padding-left: 0.625rem;
				color: var(--tertiary-grey);
				text-transform: uppercase;
				font: normal 700 10px/34px var(--body-font-family);
				cursor: pointer;

				&.empty {
					display: none;
				}
			}

			&::after {
				content: '';
				overflow: hidden;
				position: absolute;
				top: 40%;
				right: -1rem;
				height: 10px;
				width: 10px;
				background: url('../assets/dropdown-arrow.png') no-repeat center;
			}

			&.hide {
				display: none;
			}
		}
	}
}
