@import "~@nti/style-common";

.daytime-picker {

	.DayPicker-wrapper .DayPicker-Caption {
		font-size: 1rem;
	}

	.TimePicker-Header-Text {
		font-family: var(--body-font-family);
		font-size: rem-calc(10px);
		margin: rem-calc(10px);
		line-height: 1.6;
		color: var(--tertiary-grey);
		text-align: center;
	}

}
