.container {
	display: grid;
	grid-template-columns: [full-start] repeat(auto-fill, var(--colsize, 242px)) [full-end];
	grid-auto-rows: min-content;
	gap: var(--gap, 14px);
	margin: 0;
	justify-content: center;
	list-style: none;
	padding: 0;
}

/* headers and directly nested containers occupy the full available width */
.container > .container,
.single-column > *,
.header {
	grid-column: 1 / -1;
}
