.drag-handle {
	& .drag-icon {
		color: black;
		opacity: 0.2;
		cursor: move;
		cursor: grab;

		&:hover {
			opacity: 0.4;
		}
	}

	&.disabled {
		pointer-events: none;

		& i {
			opacity: 0.1;
		}
	}
}
