.drag-handle {
	& .drag-icon {
		color: black;
		opacity: 20%;
		cursor: move;
		cursor: grab;

		&:hover {
			opacity: 40%;
		}
	}

	&.disabled {
		pointer-events: none;

		& i {
			opacity: 10%;
		}
	}
}
