@import "~nti-style-common";
@import "~util/variables";

.sortable-item {
	cursor: move;
	position: relative;
	display: flex;
	align-items: center;

	> * {
		flex: none;
	}

	&.dragging {
		opacity: 0;
	}

	// the one outside the content area
	& > .position {
		display: inline-block;
		color: #737481;
		min-width: 3em;
		text-align: right;
		margin-right: 0.5em;

		@include respond-to(handhelds) {
			display: none;
		}
	}

	$draggerWidth: 24px;
	$marginRight: 12px;

	.no-touch &:not(.dragging):not(.no-preference) .sortable-item-content:not(:active):hover {
		box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
		transform: scale3d(1.01, 1.01, 1);
		z-index: 1; // so the shadow renders on top of the next row
	}

	.sortable-item-content {
		position: relative;
		background: #f7f8f9;
		display: inline-block;
		transition: all 0.1s;
		flex: 1 1 100%;
		padding: 0.5em;
		margin: 0.25em;
	}

	&.no-preference {
		cursor: auto;

		.sort-item-image {
			width: 0;
		}

		.drag-handle {
			display: none;
		}

		.label {
			opacity: 0.55;
		}
	}

	.drag-handle {
		$border: 2px solid $controls-color-1;
		$radius: 3px;

		position: relative;
		border-radius: $radius;
		border-top: $border;
		display: inline-block;
		vertical-align: middle;
		width: $draggerWidth;

		@include respond-to(handhelds) {
			display: none;
		}

		&::before,
		&::after {
			content: '';
			border-radius: $radius;
			border-top: $border;
			width: $draggerWidth;
			position: absolute;
			left: 0;
		}

		&::before {
			top: -8px;
		}

		&::after {
			top: 4px;
		}
	}
}
