@import "~nti-style-common";

.content-resource-browser {
	position: relative;
	max-width: 1024px;
	// min-height: 720px;
	// max-height: 720px;
	background-color: #f2f2f2;

	& > .loading {
		position: relative;
		transform: none;
		top: 0;
		margin: 0;
		padding: 4rem 0;
	}

	.toolbar-component .search-component {
		margin: rem-calc(0 10px 0 0);
		min-width: 100px;
		max-width: 230px;
		flex: .5 1 auto;
	}

	@media (max-width: 768px) {
		.toolbar-component .toolbar-button > span { display: none; }
	}
}
