@import "~nti-style-common";

.content-resource-browser {
	position: relative;
	max-width: 1024px;
	// min-height: 720px;
	// max-height: 720px;
	box-shadow: 0 0 0 1px #e2e2e2;

	.toolbar-component .search-component {
		margin: rem-calc(0 10px 0 0);
		min-width: 100px;
		max-width: 230px;
		flex: .5 1 auto;
	}

	@media (max-width: 768px) {
		.toolbar-component .toolbar-button > span { display: none; }
	}
}
