.content-resource-chooser {
	max-width: 1024px;
	margin: 0 auto;

	background: #fff;
	border: 1px solid #e2e2e2;
}

.modal-mask.content-resource-chooser-dialog {
	background: rgba(255, 255, 255, 0.7);

	& > .icon-close {display: none;}

	.content-resource-chooser {
		box-shadow: 0 0 40px -16px black;
	}
}
