@import '~@nti/style-common';

span.folder-name-component {
	text-align: center;
	color: var(--secondary-grey);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right: 1em;

	i.icon-folder {
		color: var(--secondary-grey-alt);
		margin-right: rem-calc(10px);
	}
}
