@import '~@nti/style-common';

.content-resource-view {
	$side-margin: 20px;

	@include clearfix;

	padding: rem-calc(0 $side-margin);
	min-height: rem-calc(160px);
	display: flex;
	user-select: none;

	.view-main-pane {
		transition: box-shadow 0.3s ease, background-color 0.3s ease;
		background-color: rgba(0, 0, 0, 0%);
		flex: 1 1 auto;
		overflow: auto;
		overflow-x: hidden;
		padding-right: rem-calc($side-margin - 5px);

		&.entity-drag-over {
			box-shadow: inset 0 0 0 5px var(--primary-blue);
			background-color: rgba(var(--primary-blue-rgb), 0.1);

			.content-resource-view-layout.table thead,
			.content-resource-view-layout.table {
				background-color: rgba(0, 0, 0, 0%);
			}

			.row-file-asset,
			.section.files {
				opacity: 30%;
				pointer-events: none;
			}
		}
	}

	&:not(.split) .view-main-pane {
		padding-left: rem-calc($side-margin);
		margin-left: rem-calc(-$side-margin);
		padding-right: rem-calc($side-margin);
		margin-right: rem-calc(-$side-margin);
	}

	&.split {
		.view-main-pane {
			padding-left: rem-calc($side-margin);
			margin-left: rem-calc(-$side-margin);
		}
	}

	.context-view-pane {
		flex: 0;
		overflow: auto;
		min-width: 350px;
		margin-right: rem-calc(-$side-margin);
		border: 0 solid var(--border-grey-light);
		border-width: 0 0 0 1px;
		background: #fff;
	}

	[draggable] {
		user-select: none;
		-khtml-user-drag: element;
		-webkit-user-drag: element;

		img,
		svg {
			pointer-events: none;
		}
	}
}
