@import '~@nti/style-common';

.application-update-notification {
	color: var(--secondary-grey);
	background-color: #fffbe3;
	border-width: 0;
	border-bottom: 3px solid #f5e28a;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999999;
	text-align: center;
	padding: 15px 20%;
	margin: 0;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.1;
	animation: update-notification-drop-in 1s ease-in-out 1s 1 normal both;

	a {
		font-weight: inherit;
		color: var(--primary-grey);
		text-decoration: underline;
		cursor: pointer;
	}

	i {
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		right: 15px;
		font-size: 16px;
		cursor: pointer;
	}

	@include respond-to(handhelds) {
		font-size: 14px;
		padding: 15px 10px;

		i {
			right: 5px;
		}
	}

	&.dismissed {
		animation-delay: 0s;
		animation-duration: 0.25s;
		animation-name: update-notification-fly-out;
	}
}

@keyframes update-notification-drop-in {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes update-notification-fly-out {
	0% {
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		transform: translateY(-100%);
		opacity: 0;
	}
}
