@import '~@nti/style-common';

.inline-association {
	.loading-spinner {
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.3rem;
	}

	.loading-text {
		display: inline-block;
		vertical-align: middle;
		font: normal 400 0.875rem/1.25rem var(--body-font-family);
		color: var(--tertiary-grey);
	}
}

ul.limited-list.inline-association-list {
	font-size: 0.75rem;
	line-height: 1rem;
	white-space: nowrap;
	padding: rem-calc(10px);
	color: white;

	li {
		max-width: rem-calc(215px);
		overflow: hidden;
		text-overflow: ellipsis;

		&.remaining {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
