@import "~@nti/style-common";

.association-pill {
	background: $primary-purple;
	color: white;
	padding: rem-calc(0 8px);
	border-radius: 2px;
	margin-right: 10px;
	cursor: pointer;
	line-height: 1;

	&:hover {
		background: #7c3fd9;//Didn't make this a variable because it seems like a one off.
	}

	i {
		margin-right: 2px;
	}

	span {
		font: normal 600 0.625rem/1.25rem var(--body-font-family);
		text-transform: uppercase;
		display: inline;
		vertical-align: middle;
	}
}
