@import "~nti-style-common";

.association-pill {
	background: $primary-purple;
	color: white;
	padding: rem-calc(0 8px);
	border-radius: 2px;
	margin-right: 10px;
	cursor: pointer;
	line-height: 1;

	i {
		margin-right: 2px;
	}

	span {
		font: normal 600 0.625rem/1.25rem $body-font-family;
		text-transform: uppercase;
		display: inline;
		vertical-align: middle;
	}
}
