.saturation-brightness-input {
	position: relative;
	padding-bottom: 55%;
	width: 100%;
}

.controls {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.background,
.saturation-layer,
.brightness-layer {
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
}

.saturation-layer {
	background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.brightness-layer {
	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.saturation-brightness-thumb {
	position: absolute;
	transform: translate(-50%, -50%);
}

.controls:focus-within .saturation-brightness-thumb {
	transform: scale(1.7) translate(-29%, -29%);
}
