.modal-mask-appear,
.modal-mask-enter {
	opacity: 0.01;
	transition: opacity .25s ease-out;
}

.modal-mask-appear.modal-mask-appear-active,
.modal-mask-enter.modal-mask-enter-active {
	opacity: 1;
}

.modal-mask-leave {
	opacity: 1;
	transition: opacity .25s ease-out;
}

.modal-mask-leave.modal-mask-leave-active {
	opacity: 0.01;
}


.modal-mask {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.7);
	perspective: 300px;
	.icon-close {
		position: absolute;
		width: 16px;
		height: 16px;
		background-image: url(./assets/close.png);
		background-repeat: no-repeat;
		background-size: cover;
		right: 1rem;
		top: 1rem;
	}
}

.modal-content {
	animation: modal-content .25s ease both;
	animation-delay: .15s;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	& > * {
		margin: 0 auto;
	}
}

@keyframes modal-content {
	0% {
		transform: translate3d(0, -50%, -30px);
		opacity: 0;
	}

	100% {
		transform: translate3d(0,-50%,0);
		opacity: 1;
	}
}
