.token {
	border: 1px solid var(--border-grey-light);
	background: var(--token-background, white);
	display: flex;
	flex-direction: row;
	align-items: stretch;
	border-radius: 3px;
}

.token.focused {
	border: 1px solid var(--primary-blue);
	background: var(--primary-blue);
}

.token.focused .token-display {
	color: white;
}

.token.focused .token-remove > i {
	background: white;
	color: var(--primary-blue);
}

.token-display {
	font: normal 400 0.875rem/2 var(--body-font-family);
	color: var(--secondary-grey);
	display: inline-block;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 3px 0 0.625rem;
}

.token-remove {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0.625rem 0 3px;
	cursor: pointer;
}

.token-remove > i {
	font-size: 0.625rem;
	background: var(--secondary-grey);
	padding: 2px 2px 1px;
	color: var(--token-backround, white);
	border-radius: 40px;
}
