@import "~nti-style-common";

.resource-viewer-inspector-file-tags {
	margin: rem-calc(20px 0);

	textarea {
		appearance: none;
		display: block;
		margin: rem-calc(10px 0 10px);
		padding: rem-calc(10px);
		border-radius: 2px;
		background-color: $panel-background;
		border: solid 1px $border-grey-light;
		width: 100%;
		// max-width: 100%;
		// min-width: 100%;
		min-height: 100px;
		overflow: scroll;
		resize: none;

		&::placeholder {
			font-style: italic;
			color: $tertiary-grey;
			opacity: 1;
		}
	}
}
