@import "~@nti/style-common";

.resource-viewer-inspector-file-field {
	padding: rem-calc(17px 20px 18px);
	box-shadow: inset 0 -1px 0 0 var(--border-grey)-light;

	.labeled-value .value {
		line-height: 1.4;
	}
}
