.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.body {
	flex: 1 1 auto;
	width: 764px;
}

.aside-container {
	flex: 0 0 23%;
	width: 230px;
	padding-left: 2px;
}

.container.large {
	& .body {
		width: 768px;
	}

	& .aside-container {
		flex-basis: auto;
		width: 250px;
		margin-left: 5px;
	}
}
