.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.body {
	flex: 1 1 auto;
}

.aside-container {
	flex: 0 0 23%;
	width: 230px;
	padding-left: 2px;
	overflow: hidden;
}
