@import '~@nti/style-common';

body > .file-asset.ghost,
.content-resource-view-layout.grid .file-asset {
	cursor: pointer;

	&.unselectable {
		pointer-events: none;
		cursor: default;
		opacity: 60%;
	}

	&:focus,
	&:hover,
	&.selected {
		outline: none;

		.select {
			margin: rem-calc(-5px);
			padding: rem-calc(5px);
			border-radius: 5px;
			background-color: rgba(0, 0, 0, 10%);
		}
	}

	&.selected .select,
	&:hover.selected .select {
		background-color: var(--primary-blue);

		div.filename,
		div.filename span {
			color: #fff;
		}
	}

	.file-asset-icon {
		position: relative;
		padding-top: 71%;

		& > * {
			border-radius: 2px;
			box-shadow: 0 1px 0 1px rgba(0, 0, 0, 10%),
				0 0 1px 1px rgba(0, 0, 0, 10%);
			max-width: 100%;
			max-height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.file-type.icon {
		position: absolute;
		width: auto;
		height: auto;
	}

	.filename {
		$size: 13px;

		position: relative;
		padding: rem-calc(10px 5px 5px);
		height: rem-calc($size * 2.5);
		max-height: rem-calc($size * 2.5);
		font-size: rem-calc($size);
		line-height: 1.2;
		box-sizing: content-box;
		font-weight: 600;
		color: var(--primary-grey);

		& > span {
			opacity: 100%;
			white-space: normal;
			word-break: break-word;
			overflow: hidden;
			text-align: center;
			text-overflow: ellipsis;
			max-width: 100%;

			// For browsers that don't support -webkit-box
			max-height: 2.1rem; // Used to set height on num of lines for FF.
			display: inline-block;

			// Magic non-standard CSS:
			/* stylelint-disable-next-line value-no-vendor-prefix */
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			margin: 6px 0;
			border: 1px solid #e2e2e2;
			padding: 3px;
			text-align: center;

			&:focus {
				outline: none;
			}
		}
	}

	&.renameable.renaming .filename span {
		visibility: hidden;
		opacity: 0%;
	}
}
