@import "~nti-style-common";

.content-resource-view-layout.grid .section {
	@include clearfix;

	$gap: ((20 / 974) / 2) * 100%;

	display: flex;
	flex-wrap: wrap;
	padding: rem-calc(0 0 10px);
	margin: 0 (-$gap);

	&:empty {
		display: none;
	}

	& > .entity {
		$percent: (25% - ($gap * 2));
		margin: rem-calc(15px) round($gap) 0;
		flex: 0 1 $percent;
		max-width: $percent;//FireFox can't even.

		.content-resource-view.split & {
			$percent: (33% - ($gap * 2));
			flex: 0 1 $percent;
			max-width: $percent;
		}
	}
}
