.nt-title-bar {
	--close-button-size: 30px;

	background: white;
	border-bottom: 1px solid var(--border-grey-light);
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 calc(var(--side-padding, 1rem) + var(--close-button-size));
}

.close-icon {
	position: absolute;
	top: 50%;
	bottom: auto;
	left: var(--side-padding, 1rem);
	right: auto;
	transform: translateY(-50%);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: var(--close-button-size);
	height: var(--close-button-size);
	border-radius: var(--close-button-size);
	font-size: 1rem;
	color: var(--secondary-grey);
	background-color: #ececec;
	cursor: pointer;
}

.title-container {
	font-size: 1.125rem;
	color: var(--primary-grey);
	padding: 0.5rem 0;
}
