@import "~nti-style-common";

.available-trigger {
	width: 15.125em;
    height: 30px;
    padding: 0.625rem 0.625rem 0.625rem 1.85rem;
	text-align: left;
	border: solid 1px #e2e2e2;
	border-top: none;
	position: relative;

	.arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		left: auto;
		height: 10px;
		width: 10px;
		background: url(./assets/dropdown-arrow.png) no-repeat center;
	}

	.inner-available-trigger {
		height: 32px;
		width: 100%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		
		.available-label {
			font: normal 600 10px/14px $body-font-family;
			letter-spacing: -0.4px;
			color: $secondary-grey;
			text-transform: uppercase;
		}

		.available-date {
			font: normal 400 13px/18px $body-font-family;
			letter-spacing: -0.3px;
			color: $primary-grey;
		}	
	}	
}

.available-picker.flyout {
	background-color: #ffffff;
	border-left: solid 1px #e2e2e2;
	border-right: solid 1px #e2e2e2;
	border-bottom: solid 1px #e2e2e2;
	padding: 0.625rem;
	width: 16.4025em;
	margin-top: -1px;

	.daytime-picker {
		.DayPicker {
			width: 262px;
			margin-left: 0;

	        .DayPicker-Caption {
	            font-size: 1rem;
	        }
	        .TimePicker-Header-Text {
	            margin-left: 30%;
	        }
	    }

	    .TimePicker-Header-Text {
	        font-family: $body-font-family;
	        font-size: 0.625rem;
	        line-height: 1.6;
	        color: #b8b8b8;
	        text-align: center;
	    }

	    .TimePicker {
	        width: 62%;
	        margin: 10px auto;
	    }
	}

	.checkbox-component {
		font-family: $body-font-family;
	    font-size: 0.7725rem;
	    line-height: 1.6;
	    color: $primary-grey;
	    margin-left: 25px;
	}

    .flyout-arrow {
    	display: none;
    }

    .available-save {
    	margin-bottom: 1rem;
    }
}
