@import "~nti-style-common";

.available-picker.flyout {
	.flyout-inner {
		box-shadow: 1px 0 0 0 $border-grey-light,
					-1px 0 0 0 $border-grey-light,
					0 	1px 0 0 $border-grey-light;

		padding: 0.625rem;
	}


	.daytime-picker {
		.DayPicker {
			width: 240px;
			margin-left: 0;

	        .DayPicker-Caption {
	            font-size: 1rem;
	        }
	        .TimePicker-Header-Text {
	            margin-left: 30%;
	        }
	    }

	    .TimePicker-Header-Text {
	        font-family: $body-font-family;
	        font-size: 0.625rem;
	        line-height: 1.6;
	        color: #b8b8b8;
	        text-align: center;
	    }

	    .TimePicker {
	        width: 67%;
	        margin: 10px auto;
	    }
	}

	.checkbox-component {
		font-family: $body-font-family;
	    font-size: 0.7725rem;
	    line-height: 1.6;
	    color: $primary-grey;
	    margin-left: 15px;
	}

    .flyout-arrow {
    	display: none;
    }

    .available-save {
    	margin-bottom: 1rem;
    }
}
