@import "~@nti/style-common";

.background-cmp {
	&.no-image {
		min-height: calc(100vh - 2.8125rem);
		background: var(--secondary-grey);
	}
}

body.content-background {
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}
