@import "~@nti/style-common";

.badged-item.badged-item {
	position: relative;
	float: none !important; // foundation declares .right and .left float !important classes. ><

	&.seen {
		.badge {
			background-color: $tertiary-grey;
		}
	}

	&[data-badge] {
		$size: 14px;
		$gap: 3px;

		position: relative;

		&::after {
			content: attr(data-badge);
			position: absolute;
			background: $primary-red;
			color: white;
			font-size: 10px;
			font-weight: 600;
			border-radius: 50%;
			text-indent: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			width: $size;
			height: $size;
			top: #{-$size / 2};
			right: #{-$size / 2};
		}

		&.top::after {
			top: #{-$size / 2};
			bottom: auto;
		}

		&.left::after {
			left: #{-$size / 2};
			right: auto;
		}

		&.bottom::after {
			bottom: #{-$size / 2};
			top: auto;
		}

		&.right::after {
			right: #{-$size / 2};
			left: auto;
		}

		&.viewed::after {
			background-color: $tertiary-grey;
		}

		.badged-item-content {
			mask-image: radial-gradient(circle at top right, transparent 0, transparent #{$size / 2 + $gap}, black #{$size / 2 + $gap + 1px});
		}
	}
}
