.button {
	font: normal 600 0.875rem/1rem var(--body-font-family);
	text-decoration: none;
	display: inline-block;
	padding: 0.75rem 1.25rem;
	cursor: pointer;

	/*
	 * We are using the global scope for backwards compatibility.
	 * Older Sass styles will likely be targeting these state classes,
	 * so by marking them 'global' the css module loader will not
	 * mangle them to be unique.
	 */
	&:global(.rounded) {
		border-radius: 4px;
	}

	&:global(.disabled) {
		opacity: 0.7;
		pointer-events: none;
	}

	&:global(.primary) {
		background-color: var(--primary-blue);
		color: white;

		&:global(.inverted) {
			background: white;
			color: var(--primary-blue);
			box-shadow: 0 0 0 1px var(--border-grey-light);
		}
	}

	&:global(.destructive) {
		background-color: var(--primary-red);
		color: white;

		&:global(.inverted) {
			background: white;
			color: var(--primary-red);
			box-shadow: 0 0 0 1px var(--primary-red);
		}
	}

	&:global(.secondary) {
		background-color: var(--border-grey-light);
		color: var(--secondary-grey);

		&:global(.inverted) {
			background: white;
			color: var(--secondary-grey);
			box-shadow: 0 0 0 1px var(--border-grey-light);
		}
	}

	& span {
		vertical-align: middle;
	}

	& :global(.nt-icon) {
		font-size: 1rem;
		vertical-align: middle;
	}

	& :global(.nt-icon):first-child {
		margin-right: 0.5em;
	}

	& :global(.nt-icon):last-child {
		margin-left: 0.5em;
	}
}
