@import "~nti-style-common";

.labeled-value {
	label {
		font-size: .625rem;
		text-transform: uppercase;
		color: $secondary-grey;
	}
	.value {
		font-size: .8rem;
		color: $primary-grey;
		.placeholder {
			font-style: italic;
			color: $tertiary-grey;
		}
	}

	&.arrow-down {
		position: relative;
		&::after {
			$size: .3rem;
			content: '';
			width: 0;
			height: 0;
			border: $size solid transparent;
			border-top-color: $tertiary-grey;
			position: absolute;
			right: .5rem;
			top: 50%;
			transform: translateY(-$size/2);
		}
	}

}
