@import "~@nti/style-common";

.pager.desktop {
	display: inline-flex;
	align-items: center;

	.counts {
		flex: 1 1 auto;
		font-size: 0.75rem;
		font-style: italic;
		text-transform: uppercase;
		max-width: initial;
		margin-right: rem-calc(25px);
	}

	a {
		flex: 0 0 auto;
		text-decoration: none;
		text-align: center;
		width: rem-calc(40px);

		&[href] {
			opacity: 0.65;

			&::before {
				color: $primary-blue;
			}

			.no-touch &:hover {
				opacity: 1;
			}
		}

		&::before {
			font-family: 'icomoon';
			font-size: rem-calc(25px);
			font-weight: 300;
			line-height: 2;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			color: $disabled-button-border;

		}
	}

	a.prev::before {
		content: $icon-chevronup-25;
	}

	a.next::before {
		content: $icon-chevrondown-25;
	}
}

.pager.mobile {
	white-space: nowrap;

	&, & > * {
		vertical-align: top;
		display: inline-block;
		white-space: nowrap;
		position: relative;
	}

	&.realPage {
		& > a {
			transform: rotate(-90deg);
		}
	}

	.counts {
		text-transform: none;
		font-style: italic;
		font-size: 0.5rem;
		padding-right: 0.2rem;
		text-overflow: ellipsis;
		overflow: hidden;


		@media screen and (max-width: 375px){
			display: none;
		}
	}

	& > a {
		// width: 2rem;
		padding: 0 0.1rem;
		height: 2.8125rem;

		&:not([href]) {
			opacity: 0.2;
		}

		&.prev::before {
			@extend %chevron-up;
			.darkmode & {
				@extend %chevron-up-white;
			}
		}

		&.next::before {
			@extend %chevron-down;
			.darkmode & {
				@extend %chevron-down-white;
			}
		}
	}
}



.bottompager {
	margin: 0 auto;
	max-width: 62.5rem;
	width: 100%;
	@include clearfix();

	list-style-type: none;
	display: inline-block;
	li {
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		width: 33.3333333%;

		display: inline-block;
		a {
			width: 100%;
			&:not([href]) {
				opacity: 0.2;
			}
		}
		&.counts {
			padding-left: 0;
			padding-right: 0;
			width: 33.3333333%;

			text-align: center;
			white-space: nowrap;
			font-size: .6875rem;
		}
	}
}
