@import "~nti-style-common";

.publish-controls.flyout {
	.flyout-inner {
		border-radius: rem-calc(4px);
		background-color: #ffffff;
		box-shadow: -1px 0 4px 0 rgba(0, 0, 0, 0.21);
		padding: rem-calc(16px);
		width: rem-calc(310px);

		.flyout-fullwidth-btn {
			margin: rem-calc(0 (-6px));
		}
	}

	// Style the datepicker and timepicker
	label[name="publish-radio"] {
		.sub {
			font-size: rem-calc(12px);
			line-height: 1.3;
			color: $tertiary-grey;
		}
	}

	.radio-component {
		display: block;
		width: 100%;
		padding-top: 0.625rem;
		padding-bottom: 0.625rem;
		border-bottom: 1px solid #f8f8f8;

		&:first-of-type {
			padding-top: 0;
		}

		.label {
			font-size: rem-calc(14);
			color: $secondary-grey;
		}
	}

	.error-message {
		font-size: rem-calc(12px);
		line-height: 1.3;
		margin: rem-calc(16px 20px 12px 0);
		color: $error-text-color;
	}
}
