$trigger-height: 2.4375rem;

@import '~@nti/style-common';

.publish-trigger {
	min-width: 10.375rem;
	max-width: 12.5rem;
	height: $trigger-height;
	line-height: $trigger-height;
	border-radius: 0.25rem;
	background-color: var(--primary-blue);
	cursor: pointer;
	position: relative;

	&.publish,
	&.schedule {
		background: var(--quad-grey);
		border: 1px solid var(--tertiary-grey-alt);

		.publish-trigger-text {
			color: var(--primary-blue);
		}

		.publish-trigger-icon {
			background-image: url('./assets/options-menu_hover.png');
		}
	}

	.publish-trigger-container {
		display: flex;
		align-items: center;
		flex-direction: row;
		padding: 0 0.875rem;
	}

	.publish-trigger-text {
		font-size: 0.875rem;
		color: #fff;
		font-weight: 400;
		font-family: var(--body-font-family);
		margin-right: 1rem;
		flex: 1 1 auto;
	}

	.publish-trigger-icon {
		display: inline-block;
		background-image: url('./assets/options-menu.png');
		width: 16px;
		height: 16px;
		background-size: contain;
		background-repeat: no-repeat;
		flex: 0 0 auto;
	}
}
