@import '~@nti/style-common';
@import 'assets/retina';

label.radio-component {
	position: relative;

	input[type='radio'] {
		opacity: 0%;
		position: absolute;
		top: 0;

		& + span.label {
			position: relative;

			// May be necessary to keep labels with links clickable?
			// //iOS workaround
			// pointer-events: none;
			// a { pointer-events: all; }

			&::before {
				content: '';
				position: absolute;
				top: 0.125rem;
				left: -1.625rem;
				width: 1rem;
				height: 1rem;
				background: transparent center/100% no-repeat;

				@include retina-asset('radio/base', $xCount: 3);
			}
		}

		&:checked + span.label::before {
			@include retina-asset('radio/select', $xCount: 3);
		}

		&:checked + span.label.green::before {
			@include retina-asset('radio/select-green', $xCount: 3);
		}

		&:disabled + span.label::before {
			opacity: 50%;
		}
	}

	input[type='radio'] + span.label,
	div.sub {
		margin-left: 1.625rem;
	}

	&.disabled {
		opacity: 30%;
		pointer-events: none;
	}
}
