@import "~@nti/style-common";

.nt-remove-button {
	cursor: pointer;

	i {
		color: white;
		font-size: 10px;
		font-weight: bold;
		background-color: $secondary-grey;
		text-align: center;
		padding: 3px;
		border-radius: 20px;
	}
}
