@import "~nti-style-common";

.nt-remove-button {
	cursor: pointer;
	position: relative;

	i {
		color: white;
		position: absolute;
		font-size: 8px;
		left: 3px;
		top: 3px;
		background-color: $secondary-grey;
		text-align: center;
		padding: 3px;
		border-radius: 20px;
	}
}
