.scroller {
	position: relative;

	.scroller-content {
		white-space: nowrap;
		overflow: auto;
	}

	.scroll-button {
		position: absolute;
		top: 50%;
		padding: 1rem;
		background: white;
		transform: translate3d(0, -50%, 0);
		z-index: 1;
		cursor: pointer;
		border: none;
		transition: all 0.2s ease-in;

		&.right {
			right: 0;
			border-radius: 99rem 0 0 99rem;
			width: 3rem;
			height: 6rem;
			padding: 0;
			background: /*url('../resources/images/ico_right_arrow_default.png') no-repeat center right*/ white;
			text-indent: -999px;
			overflow: hidden;

			&:hover {
				// background-image: url('../resources/images/ico_right_arrow_hover.png');
			}

			&.disabled {
				&:hover {
					// background-image: url('../resources/images/ico_right_arrow_default.png');
				}
			}
		}

		&.left {
			left: 0;
			border-radius: 0 99rem 99rem 0;
			width: 3rem;
			height: 6rem;
			padding: 0;
			background: /* url('../resources/images/ico_left_arrow_default.png') no-repeat center left */ white;
			text-indent: -999px;
			overflow: hidden;

			&:hover {
				// background-image: url('../resources/images/ico_left_arrow_hover.png');
			}

			&.disabled {
				&:hover {
					// background-image: url('../resources/images/ico_left_arrow_default.png');
				}
			}
		}

		&.disabled {
			opacity: 20%;
			background-color: transparent;
		}
	}
}
