@import "~@nti/style-common";

form.search-component {
	position: relative;
	overflow: hidden;
	background: #fafafa;
	border-radius: rem-calc(5px);
	box-shadow: rem-calc(0 0 0 1px) #eaeaea;
	margin: rem-calc(8px);
	line-height: rem-calc(38px);

	.icon-search {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: rem-calc(7px);
		font-size: rem-calc(22px);
		color: $tertiary-grey;
	}

	input[type=text] {
		background: transparent;
		border: 0;
		color: var(--primary-grey);
		margin: 0;
		padding: rem-calc(0 32px);
		width: 100%;
		font-weight: normal;
		font-style: normal;
		font-size: rem-calc(14px);
		box-sizing: border-box;
		box-shadow: none;

		&:not(:valid) ~ input[type=reset] {
			opacity: 0;
			cursor: text;
		}

		&:focus, &:active {
			outline: none;
		}

		&::placeholder {
			font-style: italic;
			color: $tertiary-grey;
			font-weight: 300;
		}

		&::-ms-clear { display:none; }
	}

	input[type=reset] {
		transition: opacity 0.5s;
		opacity: 1;
		//
		position: absolute;
		display: block;
		//
		background-image: url(./assets/circle-x-grey-16.png);
		background-color: transparent;
		border: 0;
		cursor: pointer;
		//
		margin: 0;
		padding: 0;
		//
		text-indent: 18px;
		width: rem-calc(16px);
		height: rem-calc(16px);
		top: 50%;
		transform: translateY(-50%);
		right: rem-calc(9px);
		left: auto;
		//
		overflow: hidden;
		text-indent: -1000px;

		&:focus, &:active {
			outline: none;
		}
	}

}
