@import '~@nti/style-common';

%menuitem {
	line-height: 3em;
	padding-left: 0.5em;
	white-space: nowrap;
}

.select-box {
	position: relative;

	.click-mask {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
	}

	&.disabled {
		opacity: 0.25;
	}

	&.open {
		& > ul {
			background: white;
			box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.1);
		}

		.selected {
			background: var(--primary-blue);
			color: white;

			&::after {
				color: white;
			}
		}
	}

	ul {
		margin: 0;
		list-style: none;
		position: absolute;
		min-width: 100%;
		font-weight: 600;
		background: var(--panel-background);
		white-space: nowrap;
		z-index: 999;

		li {
			@extend %menuitem;
		}
	}

	.menu-label {
		@extend %menuitem;

		position: relative;
		padding-right: 2em;
		overflow: hidden;
		text-overflow: ellipsis;

		&::after {
			@extend %chevron-down;

			position: absolute;
			top: 50%;
			right: 0.5em;
			font-size: 1em;
			transform: translate3d(0, -50%, 0);
			color: var(--tertiary-grey);
		}
	}
}
