@import '~@nti/style-common';

.nti-select-native-wrapper {
	position: relative;
	color: var(--primary-grey);
	box-shadow: 0 0 0 1px var(--border-grey);
	background-color: white;
	border-radius: 3px;
	cursor: pointer;
	font: normal 400 14px/40px var(--body-font-family);

	.icon-chevron-down {
		top: 50%;
		left: auto;
		right: 10px;
		position: absolute;
		transform: translateY(-50%);
	}

	.nti-select-value {
		padding: 0 2.142857142857143em 0 0.7142857142857143em;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		white-space: nowrap;
	}

	.placeholder {
		font-style: italic;
		color: var(--tertiary-grey);
	}

	select.nti-select-native {
		border: none;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		margin: 0;
		opacity: 0;
		background-color: white;
		color: var(--primary-grey);
	}
}
