@import "~nti-style-common";

.settings-button {
	display: inline-block;
	line-height: 1;
	padding: .3em;
	border:1px solid $border-grey-light;
	border-radius: 2px;
	color: $secondary-grey;
	cursor: pointer;
}
