@import "~nti-style-common";

.token {
	display: inline-block;
	background: $panel-background;
	border: 1px solid $border-grey-light;
	margin-right: .5em;
	margin-bottom: .3em;
	padding: 0 .5em;
	line-height: 1.7;
	color: $secondary-grey;
	font-size: .875rem;
	.value {
		margin-right: .5em;
	}
}
