@import "~nti-style-common";

.token-editor {
	position: relative;
	padding: .25rem .5rem;
	border: 1px solid $border-grey-light;
	background: white;
	margin: .5rem 1.5rem 6rem;
	min-height: 5rem;
	input {
		padding: .25em 0;
		width: 5rem;
		border: none;
		&:focus {
			outline: none;
		}
	}
	&.disabled {
		opacity: .5;
	}
	.placeholder {
		position: absolute;
		font-style: italic;
		color: $tertiary-grey;
		top: .5em;
		left: 1em;
	}
}
