@import "~nti-style-common";

.content-resource-view-layout.icons .section {
	@include clearfix;

	$gap: ((20 / 974) / 2) * 100%;

	display: flex;
	flex-wrap: wrap;
	padding: rem-calc(0 0 10px);
	margin: 0 (-$gap);

	&:empty {
		display: none;
	}

	& > .entity {
		margin: rem-calc(15px) round($gap) 0;
		flex: 0 1 (25% - ($gap * 2));

		.content-resource-view.split & {
			flex: 0 1 (33% - ($gap * 2));
		}
	}
}
