@import "~nti-style-common";

.associations-editor-container {
	margin-bottom: 30px;

	h3 {
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.6rem;
		color: $secondary-grey;
		margin-top: 0;
		margin-bottom: 0.625rem;
	}
}
