@import "~@nti/style-common";

.associations-editor-modal-wrapper > .icon-close { display: none; }

.association-editor-modal {
	width: 100vw;
	max-width: 768px;
	margin: 0 auto;
	position: relative;
	background: white;

	.panel-title-bar {
		box-shadow: inset 0 -1px 0 0 var(--border-grey-light);
	}

	.content {
		height: calc(80vh - 20px);
		background: var(--panel-background);
		overflow: auto;
		padding: 1.25rem;

		@include opacity-on-covered-modal;
	}

	.dialog-buttons {
		background: white;
		box-shadow: inset 0 1px 0 0 var(--border-grey-light);

		&::before {
			display: none;
		}

		@include opacity-on-covered-modal;
	}
}
