@import "~@nti/style-common";

.nti-control-bar-mount {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

	/*
	We want the order of layers to be determined by their position in the dom -- not by
	arbitrary z-index values. However if we leave this unset, any content below us in
	dom order, with z will still pop over. So, setting a constant 1 should make this cover that case.
	*/
	z-index: 1;

	.nti-control-bar {
		position: relative;
		width: 94%;
		max-width: 1060px;
		padding: 0 rem-calc(18px);//(1060-1024)/2
		height: rem-calc(52px);
		margin: 0 auto;

		&.slide-up-enter {
			top: 60px;

			&.slide-up-enter-active {
				top: 0;
				transition: top 500ms;
			}
		}

		&.slide-up-exit {
			top: 0;

			&.slide-up-exit-active {
				top: 60px;
				transition: top 500ms;
			}
		}
	}
}
