@import "~@nti/style-common";

.nti-navigation-menu-tab {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: $secondary-grey;
	font: normal 400 0.875rem/2.8 $body-font-family;
	padding: 0 0.35em 0 1.39em;

	&.active {
		background: $primary-blue;
		box-shadow: inset 3px 0 0 0 #107eed;
		color: white;
		font-weight: 600;
	}
}
