@import "~@nti/style-common";

.content-node-group-item {
	position: relative;
	cursor: pointer;

	.accent-color {
		width: 20px;
		height: 20px;
		vertical-align: middle;
		margin-right: 10px;
		border-radius: 2px;
		position: absolute;
	}

	.title {
		margin-left: 30px;
		vertical-align: middle;
		font: normal 400 0.875rem/1.25rem var(--body-font-family);
		color: var(--primary-grey);

		@include limit-lines($lines: 2, $line-height: 1.4);
	}
}
