@import "~nti-style-common";

.content-node-group {
	min-height: 70px;
	width: 184px;
	padding: 10px;

	h6 {
		font: normal 600 0.625rem/0.875rem $body-font-family;
		margin: 0 0 10px 0;
		color: $tertiary-grey;
		text-transform: uppercase;
	}

	.tinyloader {
		padding-top: 10px;
	}
}
