.ranges {
	position: relative;

	& .highlight {
		display: inline-block;
		position: absolute;
		top: auto;
		right: auto;
		background-color: #fcff13;
		box-shadow: 0 0 0 2px #fcff13, 1px 1px 2px 2px rgb(0 0 0 / 20%);
		opacity: 25%;
		pointer-events: none;
	}
}
