.nti-currency-input {
	display: inline-block;
	position: relative;
	font-family: var(--input-font-family, var(--body-font-family));
	font-size: var(--input-font-size, 0.875rem);

	& .nti-currency-symbol,
	& .nti-currency,
	& .nti-currency-input {
		position: absolute;
		top: 0; bottom: 0;
	}

	& .nti-currency-input,
	& .nti-currency-mask {
		padding-left: 1.5em;
		padding-right: 2.5em;
	}

	& .nti-currency-symbol {
		pointer-events: none;
		margin-top: var(--input-border-top, 1px);
		font-size: 1.3em;
		left: 0; right: auto;
		padding-left: var(--input-padding-left, 10px);
		color: var(--input-color, --secondary-grey);
		font-weight: var(--input-font-weight, 400);
		line-height: var(--input-line-height, 2rem);
		padding-top: var(--input-padding-top, 0);
		padding-bottom: var(--input-padding-bottom, 0);
	}

	& .nti-currency {
		pointer-events: none;
		margin-top: var(--input-border-top, 1px);
		font-size: 1em;
		left: auto; right: 0;
		padding: 0 0.25rem;
		font-weight: var(--input-font-weight, 400);
		line-height: var(--input-line-height, 2rem);
	}


	& .nti-currency-mask {
		color: var(--tertiary-grey);
		margin: 0;
	}

	& .nti-currency-input {
		left: 0; right: 0;
		width: 100%;
		height: 100%;
		/*gross, but it makes it harder for people overriding styles to break it*/
		background: none !important;
	}
}