.nt-page {
	--page-margin-top: 20px;
	--page-gap: 5px;
	--side-padding: 2rem;

	max-width: 1024px;
	margin: 0 auto;
	padding-top: var(--page-margin-top);

	&.navigation-content,
	&.content-navigation {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		& .nt-page-navigation {
			flex: 0 0 auto;
			width: 255px;
		}

		& .nt-page-content {
			flex: 1 1 auto;
		}
	}

	&.navigation-content {
		& .nt-page-navigation {
			margin-right: var(--page-gap);
		}
	}

	&.content-navigation {
		& .nt-page-navigation {
			margin-left: var(--page-gap);
		}
	}
}

.nt-page-navigation.sticky {
	position: sticky;
	top: calc(var(--page-margin-top, 0) + var(--nt-app-top-offset, 0));
}

.card {
	background: white;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
}
