.save-cancel-dialog {
	dialog {
		@media (--respond-to-handhelds) {
			height: 100%;
		}

		.save-cancel-layout {
			background: white;
			display: flex;
			flex-direction: column;

			.panel-title-bar,
			.action-header {
				flex: 0 0 auto;
			}

			.save-cancel-content {
				flex-grow: 1;
				height: 90%;
				height: calc(100% - 40px);
				overflow: auto;
			}

			@media (--respond-to-handhelds) {
				height: 100%;
			}
		}
	}
}
