@import '~@nti/style-common';

.save-cancel-dialog {
	dialog {
		@include responsive-range(mobile) {
			height: 100%;
		}

		.save-cancel-layout {
			background: white;
			display: flex;
			flex-direction: column;

			.panel-title-bar, .action-header {
				flex: 0 0 auto;
			}


			.save-cancel-content {
				flex-grow: 1;
			}

			@include responsive-range(mobile) {
				height: 100%;
			}
		}
	}
}

