@import "~@nti/style-common";

.association-item-info {
	.label {
		font: normal 400 0.875rem/1.25rem $body-font-family;
		color: var(--primary-grey);
	}

	.sub-labels {
		line-height: 0;

		span {
			display: inline;
			font: normal 600 0.625rem/0.875rem $body-font-family;
			color: $tertiary-grey;
			text-transform: uppercase;
			vertical-align: middle;

			& + span {
				&::before {
					content: '\b7';
					display: inline;
					margin: 0 0.3rem;
					line-height: 0.875rem;
					vertical-align: top;
				}
			}
		}
	}
}


.associations-list-item {
	&.active .association-item-info {
		.label {
			color: white;
		}

		.sub-labels {
			span {
				color: white;
				opacity: 0.6;
			}
		}
	}
}
