@import "~nti-style-common";

.associations-list-item {
	min-height: 50px;
	background-color: white;
	border: 1px solid $border-grey-light;
	border-radius: 2px;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	display: flex;

	&.active {
		background-color: $primary-purple;
	}

	.association-item-info {
		flex: 1 1 auto;
	}

	.association-add-button {
		flex: 0 0 auto;
	}

	.association-remove-button {
		flex: 0 0 auto;
	}
}
