@import "~nti-style-common";

.associations-list-item {
	min-height: 50px;
	background-color: white;
	border: 1px solid $border-grey-light;
	margin-bottom: 10px;
	border-radius: 2px;
	padding: 0.5rem 1rem;

	&.active {
		background-color: $primary-purple;
	}
}
