@import '~@nti/style-common';

.association-remove-button {
	color: white;
	cursor: pointer;
	margin-right: 0.5rem;

	i {
		opacity: 50%;

		&:hover {
			opacity: 80%;
		}
	}

	&.disabled {
		pointer-events: none;

		i {
			opacity: 20%;
		}
	}

	span.try-again {
		font: normal 400 0.875rem/2rem var(--body-font-family);
		text-decoration: underline;
	}
}
