@import "~@nti/style-common/variables.scss";
@import "~@nti/style-common/placeholders.scss";

%x-close {background-image: url(./assets/close.png);}
%icon-modal-red-sign {background-image: url(./assets/modal-red-sign.png);}
%icon-modal-yellow-sign {background-image: url(./assets/modal-yellow-sign.png);}

.nti-dialog-mount-point > *  {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999999;
}

.nti-dialog-mount-point .modal-mask {
	background-color: rgba(0,0,0,0);
	transition: background-color .35s ease-in;

	&.showing {
		background-color: rgb(100,100,100);
		background-color: rgba(0,0,0,0.6);
	}
}

.nti-dialog-mount-point .modal.dialog.info .dialog.window {
	.icon {
		display: none;
	}

	.content-area {
		padding-left: 0;
		text-align: center;
	}

	.dialog-buttons .primary {
		background-color: $primary-blue;
		box-shadow: inset 1px 0 0 0 $primary-blue;
	}
}


.nti-dialog-mount-point .dialog.window {
	padding-top: 30px;
	width: 400px; //preferred width
	max-width: 95vw;
	@media screen and (min-width: 400px) {
		max-width: 70vw;
	}
	overflow: hidden;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate3d(-50%,0,0);
	background: white;
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);

	.close {
		position: absolute !important;
		z-index: 1;
		top: 0;
		right: 0;
		display: block;
		width: 2rem;
		height: 2rem;
		overflow: hidden;
		text-indent: -100px;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}

		&::after {
			@extend %x-close;
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			background: { position: center center; repeat: no-repeat;}
		}
	}


	.icon {
		@extend %icon-modal-yellow-sign;

		&.caution {
			@extend %icon-modal-red-sign;
		}

		position: absolute;
		width: 60px;
		height: 60px;
		top: 1.375rem;
		left: 1.0625rem;

		background: {
			position: center center;
			repeat: no-repeat;
		}

	}


	.content-area {
		min-height: 47px;
		padding: 0 0.625rem 0 80px;
		margin: 0 10px 30px 10px;

		color: var(--primary-grey);

		line-height: 1.3;
		font: {
			style: normal;
			weight: 300;
			size: 1rem;
			family: $body-font-family;
		}

		h1 {
			font-family: $body-font-family;
			font-size: 1.3em;
			font-weight: 300;
			margin-top: 0;
			margin-bottom: 5px;
		}

		p {
			font-size: 0.9em;

			span.named {
				word-wrap: break-word;
				word-break: break-word;
				hyphens: manual;
			}
		}
	}
}
